<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}

<!-- CSS -->

{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp/css/emp_home.css' %}">
{% endblock %}


{% block contenido %}

{% load humanize %}

</style>
<section>
    <h1>Bienvenid@,  {{ user.first_name }} </h1>
</section>
<main>
    <div class="contenedor">

        <div class="enlaces">
            
            <h4>
                <!-- Si es Proveedor -->
                <!-- Si es Vendedor -->
                <!-- Si es Cliente -->
                <a href="{% url 'administrarCliente' %}">
                    <img src="{% static 'fermeApp/img/cuenta.png' %}" alt="">
                    Administrar cuenta
                </a>
            </h4>
        </div>
        <div class="enlaces">

            <h4>
                <a href=" {% url 'comprasCliente' %} ">
                    <img src="{% static 'fermeApp/img/order.png' %}" alt="">
                    Mis compras
                </a>
            </h4>
        </div>
        
    </div>
</main>
{% endblock %}