<!-- Import -->
{% extends 'fermeApp/base.html' %}
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp/css/carousel.css' %}">
<link rel="stylesheet" href="{% static 'fermeApp/css/productos.css' %}">
<script src="https://kit.fontawesome.com/887a835504.js" crossorigin="anonymous"></script>
{% endblock %}

<!-- CONTENT -->
{% block contenido %}

<!-- Carrusel de Imagenes -->

<section>
    <div class="slider-frame">
      <ul>
        <li><img src="{% static 'fermeApp/img/c1.jpg' %}" alt=""></li>
        <li><img src="{% static 'fermeApp/img/c2.jpg' %}" alt=""></li>
        <li><img src="{% static 'fermeApp/img/c3.jpg' %}" alt=""></li>
        <li><img src="{% static 'fermeApp/img/c4.jpg' %}" alt=""></li>
      </ul>
    </div>
</section>

<section>
  <h1 id="tituloProducto">Destacados</h1>
</section>



<main>

  {% load humanize %}

      <div class="shell">
        <div class="container">
          <div class="row">
              {% for p in entity %}
              <!-- INICIO -->
              <div class="col-md-2">
                <div class="wsk-cp-product">
                  
                  <!-- IMG -->
                  <div class="wsk-cp-img">
                    <img src="{{ p.imagen.url }}" alt="imagen producto" height="133" width="184">
                  
                  </div>
    
                  <!-- TEXTO -->
                  <div class="wsk-cp-text">
    
                    <div class="category">
                      <span>
                        <a style="text-decoration: none;" class="verProducto" href="{% url 'producto' p.id_prod %}" data-idProducto="{{p.id_prod}}">
                          Ver producto
                        </a>
                      </span>
                    </div>
    
                    <div class="title-product">
                      <h3>{{p.nombre}}</h3>
                    </div>
    
                    <div class="card-footer">
                      <div class="wcf-left"><span class="price">${{p.precio}}</span></div>
                      
                      <div class="wcf-right">
                        <a href="#" data-idProducto="{{p.id_prod}}" class="buy-btn">+ </a>
                      </div>

                    </div>
    
                    <!--  -->
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
      </div>
          

      <!-- PAGINATOR -->
      <div class="paginador">
        {% include 'fermeApp/paginator.html' %}
      </div>
</main>



{% endblock %}