<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp/css/productos.css' %}">
{% endblock %}

<!-- CONTENT -->
{% block contenido %}


<section>
  <p>Aqui va el carousels</p>
      <!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'fermeApp/img/sierraCircular.jpg' %}"alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'fermeApp/img/estanteTools.jpg' %}" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'fermeApp/img/tools.jpg' %}" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->
</section>

<main>
    
    {% load humanize %}

    <div class="producto-container">
    
        {% for p in productos %}
    
        <div class="producto">
    
            <img class="producto-img" src="{% static 'fermeApp/img/tools.jpg' %}" alt="CAMBIARESTOCAMBIARESTO">
    
            <div class="producto-contenido">
                <h4>Marca</h4>
                <h3> {{p.nombre}} </h3>
                <p>$ {{p.precio | intcomma}} </p>
            </div>
            <div class="btn-section">
                <button class="btn-carro">Agregar al Carro</button>
            </div>
        </div>
        
        {% endfor %}
    </div>



</main>
{% endblock %}

