<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}
<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp/css/nosotros.css' %}">
{% endblock %}


<!-- CONTENT -->
{% block contenido %}

<main>
    <div class="content">
        <div>
            <h2 class="title_content">¿Quienes somos?</h2> 
            
             <hr>
        </div>

        <div class="img_equip">
            <img src= "{% static 'fermeApp/img/background-nosotros.jpg' %}" alt="Imagen de equipo" style="width: 100%;">
        </div>
    
        <!-- Timeline -->

        <div class="timeline">
            <div class="outer">
              <div class="card">
                <div class="info">
                  <h3 class="title">Nuestro origen</h3>
                  <p>Ferretería FERME, es una empresa familiar con 56 años de experiencia Ininterrumpida, teniendo como principal objeto brindar un servicio enfocado a las relaciones de largo plazo con nuestros clientes, ofreciendo productos y servicios de calidad.  </p>
                </div>
              </div>
              <div class="card">
                <div class="info">
                  <h3 class="title">Nuestra historia</h3>
                  <p> Nuestra empresa se caracteriza por brindar un servicio personalizado y directo con el cliente para así dar una cobertura real según sus necesidades. Los cimientos de esta empresa familiar fue fundada por Fernando Ferme, quien buscó la forma de insertarse en el rubro. Para ello, se unió con don Saturnino Sánchez. Es así como Ferme y Sánchez, en 1959, instalaron un negocio que había bautizado como Ferretería Ferme, por estar ubicado en la calle del mismo nombre en la Región. Posteriormente, se incorporó a la sociedad Abel Noriega, sobrino de ambos.</p>
                </div>
              </div>
              <div class="card">
                <div class="info">
                  <h3 class="title">Nuestro legado</h3>
                  <p>Después se unieron a la cruzada familiar los hijos de Laureano: Cecilia y Pablo. Hoy la apuesta para dar continuidad a la empresa es que las nuevas generaciones de los integrantes de la familia se incorporen, “siempre que lo deseen”, acota Cecilia, una de las pocas mujeres ferreteras y la única que forma parte, desde el año 2003 del directorio. Nuestra propuesta está basada en un compromiso de búsqueda de una mejora continua en todos los niveles de la organización mediante la capacitación y motivación permanente de todo personal aportando los medios y recursos necesarios para el cumplimiento de nuestros objetivos. </p>
                </div>
              </div>
              <div class="card">
                <div class="info">
                  <h3 class="title">Nuetra misión</h3>
                  <p> Nuestro mix de productos está pensado en satisfacer todas las necesidades y requerimientos del área de la construcción, industrias, etc. Lo invitamos a ponerse en contacto con nosotros y solicitar información especificada de acuerdo a sus necesidades o visítenos en nuestro sitio Web www.ferreteriaferme.cl. Agradecemos la oportunidad que nos brinda y quedamos atentos a responder sus inquietudes. </p>
                </div>
              </div>
            </div>
        </div>

    </div>

</main>





{% endblock %}