<!-- Import -->
{% extends 'fermeApp/base.html' %}
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp/css/productos.css' %}">
<link rel="stylesheet" href="{% static 'fermeApp/css/producto.css' %}">
{% endblock %}

<!-- CONTENT -->
{% block contenido %}
{% load humanize %}

<main>
    <div class="contenedor">
        <div class="contenedor-imagen">
            {% if producto.imagen %}
                <img src="{{producto.imagen.url}}" alt="Imagen producto">
            {% else %}
                <img src="{% static 'fermeApp/img/sierraCircular.jpg' %}" alt="Imagen producto">
            {% endif %}
        </div>
    
        <div class="contenedor-producto">
            <div class="titulos">
                <h2>{{producto.marca}}</h2>
                <h1>{{producto.nombre}}</h1>
            </div>
            <div class="contenido">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis magni blanditiis aut ea harum repudiandae perferendis facere, ipsam culpa</p>
                <span class="precio">$ {{producto.precio}}</span>
            </div>
        {% if user.is_authenticated %}
            {% if usuario %}
                <div class="seccionCarrito">
                    <span>Cantidad</span>
                    <input class="cantidad" type="number" value="1" min="1" max="10">
                    <button class="agregarProducto" type="button" ><a data-id="{{producto.id_prod}}" href="{% url 'carrito' %} "> Agregar al carro</a></button>
                </div>
            {% endif %}
        {% endif %}
        </div>
    </div>

    <!-- PAGINATOR -->
    <div class="paginador">
    {% include 'fermeApp/paginator.html' %}
    </div>


<script>

    const button = document.querySelector('.agregarProducto a')
    const nroCart = document.querySelector('.numeroCart')
    
    if(button){
        
        button.addEventListener('click', e => {    
            e.preventDefault()
            const productName = document.querySelector('.titulos h1').textContent
            const productId = button.dataset.id
            const productMarca = document.querySelector('.titulos h2').textContent
            const productPrice = document.querySelector('.contenido span').textContent
            
            cantidadStr = document.querySelector('.cantidad').value
            cantidad = parseInt(cantidadStr)
            
            const img = document.querySelector('.contenedor-imagen > img').getAttribute('src')
            
            // Creacion objeto (CLASS) CarritoItem para localStorage        
            class CarritoItem {
                constructor(id, nombre, marca, cantidad, precio, img){
                    this.id = id,
                    this.nombre = nombre,
                    this.marca = marca,
                    this.cantidad = cantidad,
                    this.precio = precio,
                    this.img = img
                }
            }

            // Instance
            const itemCarr = new CarritoItem(productId, productName, productMarca, cantidad, productPrice, img)
            
            // Si existe el array lo obtengo, agrego, seteo
            const arrayItems = []
            const dataBaseProduct = JSON.parse(localStorage.getItem("productos"))
            
            //Si existen datos en localStorage
            if(dataBaseProduct){ 
            
                const existe = dataBaseProduct.findIndex(item => item.id == itemCarr.id)
                
                //Si el item ya existe en localStorage, se modifica la cantidad
                if (existe+1){ 
                    
                    console.log('si existew')
                    const nuevaCantidadStr = document.querySelector('.cantidad').value
                    let nuevaCantidad = parseInt(nuevaCantidadStr)
                    
                    dataBaseProduct[existe].cantidad += nuevaCantidad
                    localStorage.setItem("productos", JSON.stringify(dataBaseProduct))
                    
                }else{
                    
                    dataBaseProduct.push(itemCarr)
                    localStorage.setItem("productos", JSON.stringify(dataBaseProduct))
                }
                
            }else {
                
                arrayItems.push(itemCarr)
                localStorage.setItem("productos", JSON.stringify(arrayItems))
                let aa = JSON.parse(localStorage.getItem("productos"))
            }

            // CARRITO NAV

            let cantidadCarrito = 0
            let datos = JSON.parse(localStorage.getItem('productos'))
            
            const nroCart = document.querySelector('.numeroCart')

            datos.forEach( item => {
                cantidadCarrito += item.cantidad
            })

            localStorage.setItem('numeroCarrito', JSON.stringify(cantidadCarrito))
            nroCart.textContent = cantidadCarrito
        })
    }

</script>
</main>
{% endblock %}