<!-- Import -->
{% extends 'fermeApp/base.html' %}
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp/css/productos.css' %}">
{% endblock %}

<!-- CONTENT -->
{% block contenido %}
{% load humanize %}
<section>
    <h1 id="tituloProducto"> Productos</h1>
</section>
<section>

    <!-- FILTRAR -->
    <!-- <div class="container-sm" align="right"  >
        <div class="row">
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">Nombre Producto: </label>
                <input type="text" name="nombre" id="" value="{{request.GET.nombre}}">
                <input type="submit" class ="btn btn-success" value="BUSCAR">
            </form>
        </div>
    </div> -->
    <!-- FIN FILTRAR -->
</section>    
<main>
    <div class="shell">
        <div class="container">
          <div class="row">
              {% for p in entity %}
              <!-- INICIO -->
              <div class="col-md-2">
                <div class="wsk-cp-product">
                  
                  <!-- IMG -->
                  <div class="wsk-cp-img">
                    <img src="{{ p.imagen.url }}" alt="imagen producto" height="133" width="184">
                  
                  </div>
    
                  <!-- TEXTO -->
                  <div class="wsk-cp-text">
    
                    <div class="category">
                      <span>
                        <a style="text-decoration: none;" class="verProducto" href="{% url 'producto' p.id_prod %}" data-idProducto="{{p.id_prod}}">
                          Ver producto
                        </a>
                      </span>
                    </div>
    
                    <div class="title-product">
                      <h3>{{p.nombre}}</h3>
                    </div>
    
                    <div class="card-footer">
                      <div class="wcf-left"><span class="price">${{p.precio}}</span></div>
                      
                      <div class="wcf-right">
                        <a href="{% url 'producto' p.id_prod %}" data-idProducto="{{p.id_prod}}" class="buy-btn"> </a>
                      </div>
                      
                    </div>
    
                    <!--  -->
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
      </div>
    
      <!-- PAGINATOR -->
      <div class="paginador">
        {% include 'fermeApp/paginator.html' %}
      </div>
</main>
<section class="categorias">

    <h2>CATEGORIAS</h2>

    <div class="categoria-container">
        <div class="categoria-contenido">
            <img src="{% static 'fermeApp/img/herramientas.jpg' %}" alt="imagen categoria" height="133" width="184">
            <h4>Herramientas</h4>
        </div>
        <div class="categoria-contenido">
            <img src="{% static 'fermeApp/img/gasfiteria.jpg' %}" alt="imagen categoria" height="133" width="184">
            <h4>Gasfiteria</h4>
        </div>
        <div class="categoria-contenido">
            <img src="{% static 'fermeApp/img/hogar.jpg' %}" alt="imagen categoria" height="133" width="184">
            <h4>Hogar</h4>
        </div>
        <div class="categoria-contenido">
            <img src="{% static 'fermeApp/img/construccion.jpg' %}" alt="imagen categoria" height="133" width="184">
            <h4>Construccion</h4>
        </div>
    </div>
</section>
{% endblock %}