<!-- Import -->
{% extends 'fermeApp/base.html' %}
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp/css/productos.css' %}">
{% endblock %}

<!-- CONTENT -->
{% block contenido %}
{% load humanize %}

<section>
    <div align='center'>
        <br>
        <h1 class="fa fa-align-center"> Productos</h1>
        <hr>
    </div>
    
    <!-- FILTRAR -->
    <div class="container-sm" align="right"  >
        <div class="row">
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">Nombre Producto: </label>
                <input type="text" name="nombre" id="" value="{{request.GET.nombre}}">
                <input type="submit" class ="btn btn-success" value="BUSCAR">
            </form>
        </div>
    </div>
    <!-- FIN FILTRAR -->
</section>    
<main>
    <div class="producto-container">
        {% for p in entity %}

        <div class="producto"> 
            <div class="producto-contenido">
                {% if p.imagen %}
                <img src="{{ p.imagen.url }}" alt="imagen producto" height="133" width="184">
                {% endif %}
                <h4>{{p.marca}}</h4>
                <h3> {{p.nombre}} </h3>
                <p>$ {{p.precio | intcomma}} </p>
            </div>

            <div class="btn-section">
                <button type="button" class="btn-carro verProducto" data-idProducto="{{p.id_prod}}"><a href="{% url 'producto' p.id_prod %}">Ver producto</a></button>
                <button class="btn-carro agregarProducto" data-idProducto="{{p.id_prod}}">Agregar al Carro</button>
            </div>
        </div>
        {% endfor %}
    </div>
    
      <!-- PAGINATOR -->
      <div class="paginador">
        {% include 'fermeApp/paginator.html' %}
      </div>
</main>
<section class="categorias">

    <h1>CATEGORIAS</h1>

    <div class="categoria-container">
        <div class="categoria-contenido">
            <img src="{% static 'fermeApp/img/herramientas.jpg' %}" alt="imagen categoria" height="133" width="184">
            <h2>Herramientas</h2>
        </div>
        <div class="categoria-contenido">
            <img src="{% static 'fermeApp/img/gasfiteria.jpg' %}" alt="imagen categoria" height="133" width="184">
            <h2>Gasfiteria</h2>
        </div>
        <div class="categoria-contenido">
            <img src="{% static 'fermeApp/img/hogar.jpg' %}" alt="imagen categoria" height="133" width="184">
            <h2>Hogar</h2>
        </div>
        <div class="categoria-contenido">
            <img src="{% static 'fermeApp/img/construccion.jpg' %}" alt="imagen categoria" height="133" width="184">
            <h2>Construccion</h2>
        </div>
    </div>
</section>
{% endblock %}