<!-- Import -->
{% extends 'fermeApp/base.html' %}
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp/css/productos.css' %}">
<link rel="stylesheet" href="{% static 'fermeApp/css/producto.css' %}">
{% endblock %}

<!-- CONTENT -->
{% block contenido %}
{% load humanize %}

<main>
    <h1>CARRITO</h1>
    <div class="contenedor">
        <div class="contenedor-imagen">
            {% if producto.imagen %}
                <img src="{{producto.imagen.url}}" alt="Imagen producto">
            {% else %}
                <img src="{% static 'fermeApp/img/sierraCircular.jpg' %}" alt="Imagen producto">
            {% endif %}
        </div>
    
        <div class="contenedor-producto">
            <div class="titulos">
                <h2>{{producto.marca}}</h2>
                <h1>{{producto.nombre}}</h1>
            </div>
            <div class="contenido">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis magni blanditiis aut ea harum repudiandae perferendis facere, ipsam culpa</p>
                <span class="precio">$ {{producto.precio}}</span>
            </div>
        {% if user.is_authenticated %}
            {% if usuario %}
                <div class="seccionCarrito">
                    <span>Cantidad</span>
                    <input class="cantidad" type="number" value="1" min="1">
                    <button class="agregarProducto" type="button" data-id="{{producto.id_prod}}">Agregar al carro</button>
                </div>
            {% endif %}
        {% endif %}
        </div>
    </div>

    <!-- PAGINATOR -->
    <div class="paginador">
    {% include 'fermeApp/paginator.html' %}
    </div>


<script>

    button = document.querySelector('.agregarProducto')
    nroCart = document.querySelector('.numeroCart')

    button.addEventListener('click', e => {    
        e.preventDefault()
        cantidadStr = document.querySelector('.cantidad').value
        cantidad = parseInt(cantidadStr)
        nroCart.style.display = 'inline';
        nroCart.textContent = cantidad;
    })

</script>
</main>

{% endblock %}