<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp\css\emp_addProveedor'%}">
{% endblock %}

<!-- CONTENT -->
{% block contenido %}

{% load crispy_forms_tags %}
<main>
    <form action="" method="POST">
        <br><br>
        
        {% csrf_token %}
        
        {{ form | crispy}}
        
        <br>
        <button type="submit" class="btn btn-primary">Registrarme</button>
    </form>
</main>
{% endblock %}