<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp\css\emp_addProducto.css' %}">
{% endblock %}
{% block contenido %}
<main>
    <h1>Agregar Producto</h1>
    <div class="contenedor">
        
        <form class="formulario" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        
            {{ form | crispy }}
            <br>
            <button type="submit">Guardar producto</button>
        
        </form>
    </div>

</main>


{% endblock %}