<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp\css\emp_productos' %}">
{% endblock %}

{% block contenido %}

{% load humanize %}
<section>
    <button><a href="{% url 'addProducto' %}">Agregar producto</a></button>
</section>
<main>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for p in productos %}
          <tr>
            <th scope="row">1</th>
            <td>{{p.nombre}}</td>
            <td> ${{p.precio | intcomma}}</td>
            <td>{{p.stock | intcomma}}</td>
            <td class="tdButton">
                <button><a href="{% url 'modificarProducto' p.id_prod %}">Modificar producto</a></button>
                <button><a href="{% url 'eliminar_producto' p.id_prod %}">Eliminar producto</a></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</main>
{% endblock %}