<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp\css\emp_productos.css' %}">
{% endblock %}

{% block contenido %}

<!-- FILTRAR -->
    <div class="container-sm">
      <div class="row">
        <div class="col-md-6 mb-6">
          <form action="" method="POST">
            <select name="categoria">
              {% for c in producto %}
              <option value="{{ c.id }}">{{ c.categoria }}</option>
              {% endfor %}
            </select>
            <input class="btn btn-success" type="submit" value="Filtrar">
            {% csrf_token %}
          </form>
        </div>
        <div class="col-md-6 mb-6">
          <form action="" method="POST">
            <label for="">Nombre Producto: </label>
            <input type="text" name="nombre" id="">
            <input type="submit" class="btn btn-success" value="Buscar">
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  <!-- FIN FILTRAR -->

{% load humanize %}

<section>
    <button><a href="{% url 'addProducto' %}">Agregar producto</a></button>
</section>
<main>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Stock Critico</th>
            <th scope="col">Stock Max</th>
            <th scope="col">Foto</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for p in entity %}
          <tr>
            <th scope="row">1</th>
            <td>{{p.nombre}}</td>
            <td> ${{p.precio | intcomma}}</td>
            <td>{{p.stock | intcomma}}</td>
            <td>{{p.stock_crit | intcomma}}</td>
            <td>{{p.stock_max | intcomma}}</td>
            <td> {% if p.imagen %}
                  <img src="{{ p.imagen.url }}" alt="imagen producto" height="40" width="70">
                {% endif %}
            </td>
            <td class="tdButton">
                <button><a href="{% url 'modificarProducto' p.id_prod %}">Modificar producto</a></button>
                <button><a href="{% url 'eliminar_producto' p.id_prod %}">Eliminar producto</a></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <!-- PAGINATOR -->
      <div class="paginador">
        {% include 'fermeApp/paginator.html' %}
      </div>

</main>
{% endblock %}