<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp/css/emp_orden.css'%}">
{% endblock %}

{% load humanize %}
{% block contenido %}
<section>
    <!-- <button><a href=" {% url 'addOrden' %}">Agregar orden de compra</a></button> -->
</section>
<main>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nro orden</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Descuento</th>
            <th scope="col">Recibido</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for p in ordenes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{p.orden_compra_nro_orden}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.cantidad}}</td>
            <td>{{p.precio}}</td>
            <td>{{p.descuento}}</td>
            <td>{{p.recibido}}</td>
            <td class="tdButton">
                <button><a href="{% url 'modificarDetalle' p.orden_compra_nro_orden p.nro_prod %}">Modificar</a></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</main>
{% endblock %}