<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp/css/emp_orden'%}">
{% endblock %}

{% load humanize %}
{% block contenido %}
<section>
    <button><a href=" {% url 'addOrden' %}">Agregar orden de compra</a></button>
</section>
<main>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nro orden</th>
            <th scope="col">Fecha</th>
            <th scope="col">Rut empleado</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for p in ordenes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{p.nro_orden}}</td>
            <td>{{p.fecha}}</td>
            <td>{{p.empleado_rut_emp}}</td>
            <td class="tdButton">
                <button><a href="#">Modificar orden</a></button>
                <button><a href="#">Eliminar orden</a></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</main>
{% endblock %}