<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}

<!-- CSS -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'fermeApp\css\emp_proveedor.css' %}">
{% endblock %}

{% block contenido %}

<section>
    <button><a href="{% url 'addProveedor' %}">Agregar proveedor</a></button>
</section>
<main>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rut</th>
            <th scope="col">Rubro</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for p in proveedores %}
          <tr>
            <th scope="row">1</th>
            <td>{{p.nombre}}</td>
            <td> {{p.rut}}</td>
            <td>{{p.rubro}}</td>
            <td class="tdButton">
                <button><a href="#">Modificar proveedor</a></button>
                <button><a href="#">Eliminar proveedor</a></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</main>
{% endblock %}