<!-- Import -->
{% extends 'fermeApp/base.html' %} 
{% load static %}

{% block contenido %}
<style>
    body{
        color: black;
        letter-spacing: 1px;
    }
    section{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 10vh;
        width: 80%;
    }
    main {
        display: flex;
        justify-content: center;
        height: 80vh;
    }
    .table{
        max-width: 60%;
        height: 15vh;
        text-align: center;
    }
    button {
        border: none;
        border-radius: 100px;
        padding: .5em;
        color: white;
        background-color: #22577A;
        box-shadow: 0 5px 5px rgba(0 0 0 /.5);
        transition: all .3s ease;
        margin: 5px 1px;
        }
    button a {
        color: white;
        text-decoration: none;
        font-size: 13px;
    }
    button:hover {
        background-color: #93B5C6;
        box-shadow: 0 5px 5px #22577A;
    }

</style>

<section>
    <button><a href="{% url 'addProveedor' %}">Agregar proveedor</a></button>
</section>
<main>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rut</th>
            <th scope="col">Rubro</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for p in proveedores %}
          <tr>
            <th scope="row">1</th>
            <td>{{p.nombre}}</td>
            <td> {{p.rut}}</td>
            <td>{{p.rubro}}</td>
            <td class="tdButton">
                <button><a href="#">Modificar proveedor</a></button>
                <button><a href="#">Eliminar proveedor</a></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</main>
{% endblock %}