 body{
        color: black;
        letter-spacing: 1px;
    }
    section{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 10vh;
        width: 80%;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
    }
    .table{
        max-width: 60%;
        height: 15vh;
        text-align: center;
    }
    button {
        border: none;
        border-radius: 100px;
        padding: .5em;
        color: white;
        background-color: #22577A;
        box-shadow: 0 5px 5px rgba(0 0 0 /.5);
        transition: all .3s ease;
        margin: 5px 1px;
        }
    button a {
        color: white;
        text-decoration: none;
        font-size: 13px;
    }
    button:hover {
        background-color: #93B5C6;
        box-shadow: 0 5px 5px #22577A;
    }