body{
    color: black;
    letter-spacing: 1px;
}
section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    margin: 0 auto;

}
h1{
    color: rgb(14, 5, 112);
    margin-top: 1em;
    padding-left: 1.5em;

}
main {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 65%;
    padding: 2em;
    gap: 5rem 2rem;
}
.enlaces {
    display: flex;
    align-items: center;
    transition: all .4s ease;
    padding: 1.5em;
    box-shadow: 0px 5px 5px rgba(68, 61, 87, 0.3);
    /* box-shadow: 
                5px 7px 0 rgba(0 0 0 /.5),
                inset 5px 7px 0 rgba(0 0 0 /.2); */
    border-radius: 5px;
}
.enlaces a {
    color: rgb(29, 64, 138);
    text-decoration: none;
    letter-spacing: 2px;
    /* padding: 1.5em;
    box-shadow: 0 5px 5px rgba(0 0 0 /.2);
    border-radius: 5px; */
}
.enlaces:hover {
    transform: scale(1.1);
    box-shadow: 0 7px 7px rgba(15,10,28);
    /* box-shadow: 
                0 7px 7px rgba(15,10,28),
                inset 0 7px 7px rgba(0 0 0 /.2); */
}
img {
    background-position: center;
    background-size: cover;
    height: 50px;
    width: 50px;
}