main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 65%;
}
.img_equip {
    margin-top: 2em;
    box-shadow: 0 10px 10px rgba(0 0 0 /.3);
    border-radius: 7px;
}
.content p {
    margin-bottom: 2em;
}
.title_content{
    margin: 3rem 0;
}
.img_equip img {
    border-radius: 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}